 .hot-wrap_1nNog {
   overflow: hidden;
   height: 506px;
 }

 .hot-right_23dWT {
   height: 100%;
   margin-left: 416px;
   padding-top: 24px;
 }

 .hot-map_2zN_1 {
   height: 297px;
 }

 .hot-active_2OBSc {
   padding: 24px 24px 0;
   background-color: rgba(255, 255, 255, 0.9);
 }

 .title_eQrhO {
   margin-bottom: 16px;
   font-size: 14px;
   line-height: 14px;
   color: #222;
 }

 .content-wrap_1E_gm {
   overflow: hidden;
   padding: 24px 24px 0;
   font-size: 0;
 }

 .category-item {
   float: left;
   width: 545px;
   padding: 20px 24px 24px;
   border-radius: 12px;
   background-color: #fff;
   transform: translate3d(0, 0, 0);
 }

 .top-list-box {
   height: 426px;
   margin-top: 18px;
   transform: translate3d(0, 0, 0);
 }

 .top-list-box .hot-item {
   position: relative;
   display: block;
   margin-bottom: 10px;
   cursor: pointer;
   transition: all 0.5s;
 }

 .top-list-box .hot-item.active {
   height: 92px;
 }

 .top-list-box .hot-item.active .active-item {
   height: 92px;
   opacity: 1;
 }

 .top-list-box .hot-item.active .normal-news {
   height: 0;
   opacity: 0;
 }

 .top-list-box .active-item,
 .top-list-box .normal-news {
   position: relative;
   transition: all 0.5s;
 }

 .top-list-box .active-item {
   height: 0;
   opacity: 0;
 }

 .top-list-box .active-item .active-item-img {
   width: 33%;
   height: 100%;
   background-size: cover;
   background-position: center;
   position: relative;
   flex-shrink: 0;
 }

 .top-list-box .active-item.top-news .active-item-img::before {
   content: "";
   display: inline-block;
   width: 31px;
   height: 33px;
   background-size: cover;
   background-position: center;
   background-image: url("../img/baiduNews/ranking-new.png");
   position: absolute;
   top: -3px;
   left: -4px;
 }

 .top-list-box .active-item .sign-index {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   color: #fff;
 }


 .top-list-box .active-item .content-pos {
   font-size: 14px;
   flex: 1;
   padding-left: 10px;
 }

 .top-list-box .active-item .content-pos .content-bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.6;
   filter: alpha(opacity=60);
 }

 .top-list-box .active-item .news-name {
   color: #303132;
   font-size: 16px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   height: auto;
   line-height: 18px;
   padding: 0;
 }

 .top-list-box .normal-news {
   color: #9195a3;
   opacity: 1;
   display: flex;
   align-items: center;
 }

 .top-list-box .normal-news .news-index {
   width: 22px;
   height: 22px;
   background: #FFFFFF;
   border: 1px solid #F8F8FA;
   text-align: center;
   line-height: 22px;
   font-size: 12px;
   font-weight: bold;
   color: #848790;
   display: inline-block;
   vertical-align: middle;
 }



 .top-list-box .normal-news .news-name {
   font-size: 14px;
   color: #303132;
   flex: 1;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

 .top-list-box .news-name {
   position: relative;
   display: block;
 }



 .top-icon {
   width: 31px;
 }

 .top-icon-mormal {
   width: 20px;
   height: 16px;
   margin-top: -2px;
 }

 .c-text-hot {
   background-color: #ff9812;
 }

 .c-text {
   display: inline-block;
   padding: 0 2px;
   text-align: center;
   vertical-align: middle;
   font-style: normal;
   color: #fff;
   overflow: hidden;
   line-height: 16px;
   height: 16px;
   font-size: 12px;
   border-radius: 4px;
   font-weight: 200;
 }


 .title-wrap {
   overflow: hidden;
 }

 .left-title {
   float: left;
   height: 20px;
   font-size: 0;
   line-height: 20px;
 }

 .left-title img {
   width: 14px;
   margin-right: 10px;
   vertical-align: -2px;
 }

 .left-title .title_jDbBV {
   position: relative;
   top: 1px;
   font-size: 18px;
 }

 [theme="realtime"] .c-theme-color,
 [theme="homepage"] .c-theme-color {
   color: #ff4d4d;
 }

 .btn-more {
   float: right;
   box-sizing: border-box;
   height: 20px;
   padding-top: 4px;
   font-size: 0;
   color: #9195a3;
 }

 .btn-more span {
   display: inline-block;
   font-size: 13px;
   line-height: 13px;
   margin-right: 5px;
 }

 .btn-more-icon {
   width: 6px;
   height: 10px;
   background-size: cover;
   background-image: url("../img/baiduNews/btn-more.png");
   display: inline-block;
 }

 .btn-more:hover {
   color: #125CFD;
 }

 .btn-more:hover .btn-more-icon {
   background-image: url("../img/baiduNews/btn-more-active.png");
 }


 img {
   object-fit: cover;
 }

 .hot-item .active-item {
   display: flex;
 }

 .top-list-box .active-item .description {
   height: 22px;
   background: #F4F5FA;
   padding: 0 13px 0 7px;
   font-size: 12px;
   color: #7C7F87;
   position: relative;
   margin: 11px 0 7px;
   width: auto;
   max-width: 100%;
   display: inline-block;
   min-width: 100px;

 }

 .top-list-box .active-item .description .desc-text {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   max-width: 77%;
   line-height: 22px;
 }

 .top-list-box .active-item .description .time {
   width: 85px;
   height: 22px;
   background: #FFFFFF;
   border: 1px solid #EFF0F5;
   line-height: 22px;
   text-align: center;
   font-size: 12px;
   color: #7C7F87;
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
 }

 .top-list-box .active-item .choose img {
   width: 14px;
 }

 .top-list-box .active-item .choose * {
   vertical-align: middle;
 }

 .top-list-box .active-item .choose span {
   font-size: 12px;
   color: #125CFD;
 }

 .top-list-box .normal-news * {
   display: inline-block;
   vertical-align: middle;
 }

 .top-list-box .normal-news .tag {
   width: 64px;
   height: 23px;
   background: rgba(255, 102, 51, 0.2);
   border: 1px solid #FF6633;
   line-height: 23px;
   text-align: center;
   color: #FF6633;
   font-size: 12px;
   margin: 0 7px;
 }

 .top-list-box .normal-news .news-index.top-news {
   display: inline-block;
   width: 22px;
   height: 22px;
   background-size: cover;
   background-position: center;
   background-image: url('../img/baiduNews/ranking-new.png');
   border: none;
   vertical-align: -2px;
 }

 .hot-item .active-item .news-index {
   width: 22px;
   height: 22px;
   line-height: 22px;
   text-align: center;
   font-size: 12px;
   font-weight: bold;
   color: #FFFFFF;
   position: absolute;
   top: 0;
   left: 0;
   box-shadow: 0px 2px 2px 0px rgba(139, 148, 154, 0.5);
   border-radius: 6px 0px 6px 0px;
 }


 .top-list-box .hot-item:nth-child(2) .news-index {
   background: #F52727;
   color: #FFFFFF;

 }

 .top-list-box .hot-item:nth-child(3) .news-index {
   background: #FF6600;
   color: #FFFFFF;

 }

 .top-list-box .hot-item:nth-child(4) .news-index {
   background: #FAA90E;
   color: #FFFFFF;

 }

 .top-list-box .hot-item.active .active-item .choose {
   padding-left: 7px;
 }